:global(input#open) {
  display: none;
}

.christmasCard {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transform: perspective(2500px) scale(1);
  transition: transform 1s ease;
}

.christmasCard:hover {
  transform: perspective(2500px) scale(1.5);
}

.santaImage {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 180px;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.8s ease 0.5s;
  z-index: 2;
  pointer-events: none;
}

:global(input#open:checked) ~ .cardInside .santaImage {
  opacity: 0.85;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 200px;
  height: 300px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.cardFront::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 280px;
  background-color: #1a7f5a;
  top: 10px;
  left: 10px;
}

.christmasTree {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 160px solid #034247;
  top: 75px;
  left: 50px;
}

.christmasTree::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: #c47f1a;
  left: -50px;
  top: 140px;
}

.christmasTree::before {
  content: "";
  position: absolute;
  background-color: #a86d16;
  width: 50px;
  height: 25px;
  top: 130px;
  left: 20px;
  box-shadow: -90px 0 #a86d16;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 300px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  isolation: isolate;
}

.cardInside::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 280px;
  background-color: #1a7f5a;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.cardInside::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 180px;
  height: 280px;
  background: rgba(255, 255, 255, 0.55);
  z-index: 1;
}

.open {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 6;
  cursor: pointer;
}

:global(input#open:checked) ~ .cardFront {
  transform: rotateY(-155deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
}

:global(input#open:checked) ~ .cardFront::before {
  z-index: 5;
}

.text {
  position: absolute;
  color: white;
  font-family: "Brush Script MT", cursive;
  top: 260px;
  width: 200px;
  text-align: center;
  font-size: 15px;
}

.text::before {
  content: "Merry Christmas!";
  position: absolute;
  width: 80px;
  color: #333;
  text-align: center;
  line-height: 10px;
  top: -42.5px;
  left: 61px;
}

.text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 20px solid #faa307;
  top: -185px;
  left: 93px;
}

.ribbon,
.ribbon::before {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 12.5px solid transparent;
  border-top: 12.5px solid transparent;
}

.ribbon {
  border-left: 10px solid #1a7f5a;
  top: 205px;
  left: 30px;
}

.ribbon::before {
  content: "";
  border-right: 10px solid #1a7f5a;
  left: 120px;
  top: -12.5px;
}

.ribbon::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  top: -25px;
  left: 21.5px;
  box-shadow: 5px -3px white, 10px -6px white, 15px -9px white, 20px -12px white,
    25px -15px white, 30px -18px white, 35px -21px white, 40px -24px white,
    45px -27px white, 50px -30px white, 55px -33px white, 60px -36px white,
    60px -36px white, 15px -50px white, 20px -53px white, 25px -56px white,
    30px -59px white, 35px -62px white, 40px -65px white, 45px -68px white,
    50px -71px white;
}

.star {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 13px solid #ffba08;
  border-left: 20px solid transparent;
  transform: rotate(-35deg);
  top: 68px;
  left: 80px;
  animation: twinkle 1.5s ease-in-out infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0.7;
    filter: brightness(1.5);
  }
}

.star::before {
  border-bottom: 13px solid #ffba08;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -9px;
  left: -11px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star::after {
  position: absolute;
  display: block;
  top: 0.75px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 13px solid #ffba08;
  border-left: 20px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.balls {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2d6a4f;
  top: 185px;
  left: 110px;
  box-shadow: -30px -30px #2d6a4f, -18px -74px #2d6a4f;
  animation: blinkLights 2s ease-in-out infinite;
}

@keyframes blinkLights {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.balls::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #52b788;
  left: -20px;
  top: 10px;
  box-shadow: 15px -55px #52b788;
}

.title {
  position: absolute;
  color: #000;
  font-size: 30px;
  font-family: "Brush Script MT", cursive;
  line-height: 25px;
  text-align: center;
  top: 30px;
  width: 200px;
  opacity: 0;
  transform: translateY(20px);
  z-index: 3;
  left: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.wishes {
  position: absolute;
  width: 150px;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  line-height: 15px;
  font-size: 20px;
  color: #000;
  top: 110px;
  left: 25px;
  opacity: 0;
  transform: translateY(20px);
  z-index: 3;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

:global(input#open:checked) ~ .cardInside .title {
  animation: slideUp 0.6s ease forwards 0.3s;
}

:global(input#open:checked) ~ .cardInside .wishes {
  animation: slideUp 0.6s ease forwards 0.6s;
}

:global(input#open:checked) ~ .cardInside .gift {
  animation: slideUp 0.6s ease forwards 0.9s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gift {
  position: absolute;
  border: 3px solid #000;
  width: 30px;
  height: 30px;
  top: 235px;
  left: 83px;
  opacity: 0;
  transform: translateY(20px);
  z-index: 3;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
}

.gift::before,
.gift::after {
  content: "";
  position: absolute;
  background-color: #000;
}

.gift::before {
  width: 30px;
  height: 3px;
  top: 14px;
}

.gift::after {
  height: 30px;
  width: 3px;
  left: 14px;
}

.bow {
  position: absolute;
}

.bow::before,
.bow::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 3px solid #333;
  border-radius: 50%;
  top: -14px;
}

.bow::before {
  transform: skew(20deg, 10deg);
  left: 2px;
}

.bow::after {
  transform: skew(-20deg, -10deg);
  left: 15px;
}
