@keyframes snowfall {
  100% {
    transform: translateY(1500px);
  }
}

.snowfall {
  position: absolute;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
}

.snow {
  position: absolute;
  border-radius: 50%;
  filter: blur(1px);
  background-color: #fff;
  width: 10px;
  height: 10px;
  top: -1000px;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
  animation: snowfall 12s linear infinite;
}

.snow::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #fff;
  left: 200px;
  top: -150px;
  border-radius: 50%;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}

.snow::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  left: 300px;
  top: -250px;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}

.snow1 {
  position: absolute;
  border-radius: 50%;
  filter: blur(2px);
  background-color: #fff;
  width: 9px;
  height: 9px;
  top: -850px;
  left: 123px;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
  animation-delay: -3s;
  animation: snowfall 15s linear infinite;
}

.snow1::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #fff;
  left: 200px;
  top: -350px;
  border-radius: 50%;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}

.snow1::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  left: 300px;
  top: -450px;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}

.snow2 {
  position: absolute;
  border-radius: 50%;
  filter: blur(1.5px);
  background-color: #fff;
  width: 9px;
  height: 9px;
  top: -900px;
  left: -50px;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
  animation-delay: -4s;
  animation: snowfall 20s linear infinite;
}

.snow2::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #fff;
  left: 200px;
  top: -550px;
  border-radius: 50%;
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}

.snow2::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  left: 300px;
  top: -650px;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 20px 20px 1px #fff, 60px 40px 1px #fff, 160px 135px 1px #fff,
    260px 240px 1px #fff, 360px 340px 1px #fff, 460px 440px 1px #fff,
    560px 340px 1px #fff, 660px 240px 1px #fff, 760px 140px 1px #fff,
    260px 640px 1px #fff, 160px 340px 1px #fff, 260px 440px 1px #fff,
    760px 140px 1px #fff, 860px 40px 1px #fff, 760px 140px 1px #fff,
    1260px 120px 1px #fff, 1460px 10px 1px #fff, 1560px 30px 1px #fff,
    1590px 124px 1px #fff, 1680px 415px 1px #fff, 1720px 335px 1px #fff,
    1000px 212px 1px #fff, 990px 311px 1px #fff, 888px 122px 1px #fff,
    765px 10px 1px #fff, 635px 15px 1px #fff, 554px 111px 1px #fff,
    455px 222px 1px #fff, 125px 105px 1px #fff, 275px 96px 1px #fff,
    245px 40px 1px #fff, 230px 70px 1px #fff, 285px 17px 1px #fff,
    360px 340px 1px #fff, 360px 340px 1px #fff, 360px 340px 1px #fff,
    430px 210px 1px #fff, 523px 23px 1px #fff, 1650px 335px 1px #fff,
    1777px 123px 1px #fff, 1800px 222px 1px #fff, 1360px 140px 1px #fff;
}
